header {
    width:100%; /* Establecemos que el header abarque el 100% del documento */
    overflow:hidden; /* Eliminamos errores de float */
    background:#252932;
}

.wrapper {
    width:100%; /* Establecemos que el ancho sera del 90% */
}

header .logo {
    padding-left: 300px;
    padding-bottom: 10px;
    padding-top: 10px;
    color:#f2f2f2;
    float:left;
}

header nav {
    float: right;
    padding-right: 200px;
    padding-top: 50px;
}

header nav a {
    font-family: Arial;
    margin-top: 50px;
    margin-right: 50px;
    display:inline-block;
    color:#fff;
    text-decoration:none;
    padding:10px 20px;
    line-height:normal;
    font-size:25px;
    font-weight:bold;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}

header nav a:hover {
    background:
        #801705
        ;
    border-radius:50px;
}


header nav input {
    font-family: Arial;
    display:inline-block;
    color: #fff;
    background-color: #252932;
    border: 0;
    text-decoration:none;
    padding:10px 20px;
    line-height:normal;
    font-size:25px;
    font-weight:bold;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}

header nav input:hover {
    background: #801705;
    border-radius:50px;
}


body{
    background:#343945;
}

.gallery-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto_rows: 150px;
    padding: 20px;
    grid-gap: 20px;

}

.gallery_img{
    width: 100%;
    height: 100%;
    max-width: 500px;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease; 

}

.gallery_img:hover {
    box-shadow: 8px 8px #801705;

}

.gallery_title{
    font-family: Arial;
    font-size: 30px;
}

.gallery_item{
    text-align:center;
    margin-bottom:  100px;

}

.gallery_enlace{
    color:#fff;
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
    
}




.enlacesSesion{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.enlaceSesionLog{

    display:inline-block;
    text-align:center;
    color:#fff;
    text-decoration:none;
    padding:20px;
    line-height:normal;
    font-size:25px;
    font-weight:bold;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}

.enlaceSesionLog:hover{

    background:
        #801705
        ;
    border-radius:50px;
}

.enlaceSesionSing{
    display:inline-block;
    text-align:center;
    color:#fff;
    text-decoration:none;
    padding:20px;
    line-height:normal;
    font-size:25px;
    font-weight:bold;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}

.enlaceSesionSing:hover{
    background:#801705;
    border-radius:50px;
}

#logo_ini{
    padding-top: 400px;
    display:block;
    margin:auto;
}

#pagina_princi{
    font-size:25px;
    font-family: Arial;
    background: linear-gradient(to bottom, #252932, #606673);
    background-attachment:fixed;
}

#login_form{
    margin: auto;
    width: 50%;
    max-width: 500px;
    padding: 30px;

}

#titulo_log{
    font-weight:bold;
    text-align: center;
    margin-bottom: 20px;
    color:#fff;
    font-size:30px;
    line-height:normal;
}

#input_log{
    display: block;
    padding: 10px;
    width: 100%;
    margin: 30px 0;
    font-size: 20px;
}

#input_log_sub {
    display: block;
    padding: 10px;
    width: 100%;
    margin: 30px 10px;
    color: #fff;
    background-color: #252932;
    border: 0;
    text-decoration:none;
    line-height:normal;
    font-size:25px;
    font-weight:bold;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}

#input_log_sub:hover {
    background: #801705;
    border-radius:50px;
}

#singup_form{
    margin: auto;
    width: 50%;
    max-width: 500px;
    padding: 30px;

}

#titulo_sing{
    font-weight:bold;
    text-align: center;
    margin-bottom: 20px;
    color:#fff;
    font-size:25px;
    line-height:normal;
}

#input_sing{
    display: block;
    padding: 10px;
    width: 100%;
    margin: 30px 0;
    font-size: 20px;
}

#input_sing_sub {

    display: block;
    padding: 10px;
    width: 100%;
    margin: 30px 10px;
    color: #fff;
    background-color: #252932;
    border: 0;
    text-decoration:none;
    line-height:normal;
    font-size:25px;
    font-weight:bold;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}

#input_sing_sub:hover {
    background: #801705;
    border-radius:50px;
}

.radio{
    font-family: Arial;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: inline-block;
    overflow: hidden;
    border-radius: 15px;
    background: #313642;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.radio__input{
    display: none;
}

.radio__label{
    text-align:center;
    margin-right: auto;
    margin-left: auto;
    padding: 8px 14px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}

.radio__label:hover {
    background: #801705;
    border-radius:50px;
}


#radio_sub{
    display: block;
    padding: 10px;
    width: 25%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fff;
    background-color: #313642;
    border: 0;
    text-decoration:none;
    line-height:normal;
    font-size:25px;
    font-weight:bold;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}

#radio_sub:hover {
    background: #801705;
    border-radius:50px;
}

#titulo_radio{
    font-weight:bold;
    text-align: center;
    color:#fff;
    font-size:30px;
    line-height:normal;
    display: block;
}

.radio__input:checked + .radio__label{
    background: #801705;
    border-radius:50px;
}

#caratula_j{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 100%;
    height: 100%;
    max-width: 500px;
}

.errores{
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: red;
}

.datos{
    font-family: Arial;
    display:inline-block;
    text-align: center;

}
.caja_datos{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 50%;
    border-radius: 15px;
    background: #313642;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.datos_categoria{
    color: #fff;
    font-weight: bold;
    font-size: 30px;
}

.datos_juego{
    color: #fff;
    font-size: 20px;
}

#valoracion{
    font-size: 30px;
    text-decoration: none;
    color: #fff
}

#valoracion:hover {
    background: #801705;
    border-radius:55px;
    padding: 7px;
}

.radio_review{
    font-family: Arial;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 20px;
    display: block;
    overflow: hidden;

}

#descripcion_review{
    display: block;
    text-align: start;
    font-size: 20px;
    border: 2px solid #801705;
    border-radius: 4px;
    margin-left:  auto;
    margin-right:  auto;
    margin-top: 20px;
    margin-bottom: : 20px;
    width: 500px;
    height: 300px;
}

#radio_sub_review{
    display: block;
    padding: 10px;
    width: 25%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fff;
    background-color: #343945;
    border: 0;
    text-decoration:none;
    line-height:normal;
    font-size:25px;
    font-weight:bold;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}

#radio_sub_review:hover {
    background: #801705;
    border-radius:50px;
}

.reviews{
    font-family: Arial;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: inline-block;
    overflow: hidden;
    border-radius: 15px;
    background: #313642;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.reviews b{
    font-size: 20px;
}

.reviews p{
    color: #fff;
}

.no_reviews{
    font-family: Arial;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: inline-block;
    overflow: hidden;
    border-radius: 15px;
    background: #313642;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

#noreview{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.perfil_juegos{
    font-family: Arial;
    display: block;
    text-align: center;
}

.perfil_juegos h2{
    color: #fff;
}

.gallery-container-user{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto_rows: 500px;
    padding: 20px;
    grid-gap: 10px;

}

.form_perfil{
    margin-top: 20px;
    border-radius: 15px;
    background: #313642;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.estados {
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fff;
    background-color: #313642;
    border: 0;
    text-decoration:none;
    padding:10px 20px;
    line-height:normal;
    font-size:20px;
    font-weight:bold;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}

.estados:hover {
    background: #801705;
    border-radius:50px;
}

.modificacion a{
    cursor: pointer;
    font-family: Arial;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    display:inline-block;
    color:#fff;
    text-decoration:none;
    padding:10px 20px;
    line-height:normal;
    font-size:25px;
    font-weight:bold;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}

.modificacion a:hover {
    background:
        #801705
        ;
    border-radius:50px;
}

.datos_usuario{
    font-family: Arial;
    text-align: center;
    margin-top: 20px;
    display: block;
    justify-content: center;
    align-items: center;
}

.datos_usuario_detalle{
    color: #fff;
}
.datos_usuario_detalle h3{
    font-size: 25px;
}

.datos_usuario_detalle h4{
    font-size: 17px;
    font-weight: normal;
}

.modificar_usuario{
    margin: auto;
    width: 50%;
    max-width: 500px;
}

.modificar_usuario_text{
    display: block;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    font-size: 20px;
}

#intro_modi{
    padding: 20px;
    margin-top: 0px;
    color:#fff;
    font-weight: bold;
    
}


#enviar_modi{
    display: block;
    padding: 10px;
    width: 25%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fff;
    background-color: #343945;
    border: 0;
    text-decoration:none;
    line-height:normal;
    font-size:25px;
    font-weight:bold;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}

#enviar_modi:hover {
    background: #801705;
    border-radius:50px;
}

#juego_no_encontrado{
    font-family: Arial;
    color:#fff;
    display: block;
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
}


